---
import Layout from "../layouts/BaseLayout.astro";
---

<Layout title="Home Page">
  <section>
    <h2>DevBlog</h2>
    <div>Latest posts...</div>
  </section>

  <aside>
    <section>
      <h3>GitHub Resume</h3>
    </section>

    <section>
      <h3>Projects</h3>
    </section>
  </aside>
</Layout>
