---
import Layout from "../layouts/BaseLayout.astro";
import Hello from "../components/Hello.astro";
---

<Layout title="about">
  <div class="flex flex-col gap-2 text-2xl">
    <Hello className="text-4xl" />
    <p>I'm Gavin, welcome to my home page</p>
    <p>
      Here you can find personal projects of mine, development ramblings, and
      other writings
    </p>
    <p>
      I am currently kept busy with freelance development work, which at the
      moment involves Remix.js
    </p>
    <p>
      My resume which details my experience in C, Arduino, Python, JavaScript,
      React, SQL, and more can be found here
    </p>
  </div>
</Layout>
