---
import Layout from "../layouts/BaseLayout.astro";
import Hello from "../components/Hello.astro";
---

<Layout title="about">
  <div class="flex flex-col gap-2 text-2xl">
    <Hello className="text-4xl" />
    <p>Hi, I'm Gavin, welcome to my home page</p>
    <p>
      Here you can find personal projects of mine, development ramblings, and
      plenty of cat pictures
    </p>
    <p>I am currently kept busy with freelance work</p>
    <p>
      My resume which details experience in C, Arduino, Python, React,
      Javascript, SQL, and more can be found <a href="/resume/">here</a>
    </p>
  </div>
</Layout>
