---
// src/pages/index.astro
import HLSPlayer from "../components/HLSPlayer.astro";
import TamaButtons from "../components/TamaButtons.astro";
---

<html lang="en">
  <head>
    <title>Astro Page with Video Feed and Controls</title>
  </head>
  <body>
    <HLSPlayer />
    <TamaButtons />
    <script type="module">
      const eventSource = new EventSource("/api/events");
      eventSource.onmessage = (event) => {
        console.log(event.data);
      };
    </script>
  </body>
</html>
