---
import Layout from "../layouts/BaseLayout.astro";
import ClearCarbon from "../components/Projects/ClearCarbon/ClearCarbon.astro";
import Tamagotchi from "../components/Projects/Tamagotchi/Tamagotchi.astro";
---

<Layout title="projects">
  <div class="flex flex-col gap-2 text-lg">
    <Tamagotchi />
    <ClearCarbon />
  </div>
</Layout>

<style is:global>
  .ramble {
    @apply bg-sun-400;
    border-radius: 1%;
    padding: 1rem;
    font-style: italic;
  }
</style>
