---
import Layout from "../layouts/BaseLayout.astro";
import ResumeFrame from "../components/ResumeFrame.astro";
---

<Layout title="resume">
  <a href="/Gavin Power - Resume.pdf" download>Download PDF</a>
  <ResumeFrame />
  <p>Built with <a href="https://typst.app/">Typst!</a></p>
</Layout>
