/* Tama.css */
.tama-container {
  position: relative;
  width: 230px; /* Adjust to the width of the Tamagotchi */
  height: 300px; /* Adjust to the height of the Tamagotchi */
  margin: auto; /* Center the container */
  border-radius: 50%; /* Gives the round shape */
  overflow: hidden; /* Clips the video to the Tamagotchi shape */
  background: #000; /* Assuming a black border for the Tamagotchi */
}

.stream-container {
  width: 100%; /* Make the stream fill the container */
  height: 100%; /* Ensure the container takes the full height */
  overflow: hidden; /* Hide overflow to maintain the Tamagotchi shape */
}

.buttons-container {
  position: absolute;
  bottom: 20px; /* Adjust to place the buttons at the bottom of the Tamagotchi */
  left: 50px;
  right: 50px;
  display: flex;
  justify-content: space-around; /* Distributes buttons evenly */
  pointer-events: none; /* Allows clicks to pass through to the video */
}

.tama-button {
  background-color: blue;
  border: 2px solid transparent;
  border-radius: 50%;
  width: 30px; /* Adjust to the size of the Tamagotchi buttons */
  height: 30px; /* Adjust to the size of the Tamagotchi buttons */
  cursor: pointer;
  pointer-events: auto; /* Enables clicking on the buttons */
  transition: transform 0.1s, background-color 0.1s;
}

.tama-button.pressed {
  transform: scale(0.8);
  background-color: red;
}
