---
import { ViewTransitions } from "astro:transitions";
import { Tama } from "@/components/Tama/Tama.tsx";
import Navigation from "@/components/Navigation.astro";
import Felix from "@/components/Felix/Felix.astro";
import "@/styles/globals.css";
const { title } = Astro.props;
---

<html transition:animate="none">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>gavinpower - {title}</title>
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <ViewTransitions />
  </head>
  <body class="bg-sun-200 text-sun-950">
    <div class="container mx-auto max-w-screen-xl">
      <Felix />
      <nav class="sidebar">
        <Navigation />
      </nav>
      <main class="main" transition:animate="fade">
        <slot />
      </main>
    </div>
    <div class="tama">
      <Tama client:only="react" transition:persist />
    </div>
    <style>
      :root {
        font-size: 22px;
        font-family: Inter, sans-serif;
        font-feature-settings:
          "liga" 1,
          "calt" 1; /* fix for Chrome */
      }

      @supports (font-variation-settings: normal) {
        :root {
          font-family: InterVariable, sans-serif;
        }
      }

      html,
      body {
        height: 100%;
      }
      .container {
        display: grid;
        grid-template-columns: 16rem 1fr;
        grid-template-rows: 12rem 1fr 20rem;
        height: 100%;
        padding: 4rem;
        gap: 2rem;
        grid-auto-flow: row;
        grid-template-areas:
          "felix main"
          "sidebar main"
          "sidebar main";
      }
      .sidebar {
        display: flex;
        justify-content: center;
        grid-area: sidebar;
      }
      .main {
        grid-area: main;
      }
      .tama {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
      }

      @media (max-width: 1400px) {
        :root {
          font-size: 18px;
        }
        .container {
          display: flex;
          flex-direction: column;
          padding: 1.5rem;
        }

        .felix {
          max-height: 30vh;
          width: 100%;
        }

        .tama {
          display: none;
        }
      }
    </style>
  </body>
</html>
