---
import { Tama } from "../components/Tama.tsx";
import { SSEListener } from "../components/SSEClient.tsx";
---

<html>
  <head> </head>
  <body>
    <SSEListener />
    <Tama />
    <slot />
  </body>
</html>
