---
import { Tama } from "../components/Tama/Tama.tsx";
import "@/styles/globals.css";
---

<html>
  <head>
    <title>Gavin Power</title>
  </head>
  <body>
    <Tama client:only />
    <slot />
  </body>
</html>
