---
import Tama from "../components/Tama.astro";
---

<html>
  <head>
    <!-- head content -->
  </head>
  <body>
    <Tama />
    <slot />
    <!-- This is where page-specific content will go -->
  </body>
</html>
